{% capture workspace %}

{% assign color = page.color | default: site.color %}
{% assign name = include.name | default: "CATEGORY" %}
{% assign count = include.count | default: 0 %}
{% assign href = "/categories/" | append: name | relative_url %}
{% assign title = include.title | default: false %}

{% if title %}
  {% assign a = "mx-px text-4xl text-color-100 text-opacity-75 flex items-center" %}
{% else %}
  {% assign a = "mx-px text-sm  text-color-500 text-opacity-75 flex items-center" %}
{% endif %}

{% if title %}
  {% assign svg = "h-8 w-8 m-1" %}
{% else %}
  {% assign svg = "h-4 w-4" %}
{% endif %}

{% capture output %}
<a class="{{ a | replace: "color", color }}" href="{{ href }}"><svg xmlns="http://www.w3.org/2000/svg" class="{{ svg }}" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z" /></svg><span class="inline-block p-1">{{ name }}</span>{% if count > 0 %}<span class="inline-block p-1 text-{{ color }}-500 text-opacity-50">{{ count }}</span>{% endif %}</a>
{% endcapture %}

{% endcapture %}{{ output | strip }}
