{% assign color = page.color | default: site.color %}
{% capture output %}
:root {
  --theme-50: var(--{{ color }}-50);
  --theme-100: var(--{{ color }}-100);
  --theme-200: var(--{{ color }}-200);
  --theme-300: var(--{{ color }}-300);
  --theme-400: var(--{{ color }}-400);
  --theme-500: var(--{{ color }}-500);
  --theme-600: var(--{{ color }}-600);
  --theme-700: var(--{{ color }}-700);
  --theme-800: var(--{{ color }}-800);
  --theme-900: var(--{{ color }}-900);
}
.bg-image {
  background-image: url("{{ page.background | default: site.background | relative_url }}");
}
{% endcapture %}

{%- comment -%}{%- endcomment -%}
<{{ "style" }}>{{ output }}</{{ "style" }}>
{%- comment -%}{%- endcomment -%}
