---
---
@import "root";
@import "markdown";

.bg-image {
  background-image: url("{{ site.themeBackground | default: '/assets/images/bg.png' }}");
}

.bg-blur {
  backdrop-filter: blur(8px);
}

.max-w-acg {
  max-width: MIN(90%, 768px);
}
