::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}
::-webkit-scrollbar-track-piece {
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  border-radius: var(--scrollbar-size);
  background-color: var(--scrollbar-color);
  background-image: repeating-linear-gradient(
    -45deg,
    transparent 0,
    transparent 32px,
    rgba(255, 255, 255, 0.5) 32px,
    rgba(255, 255, 255, 0.5) 64px
  );
}
::-webkit-scrollbar-thumb:vertical {
  height: var(--scrollbar-size);
}
::-webkit-scrollbar-thumb:horizontal {
  width: var(--scrollbar-size);
}
