---
layout: page
---

{%- comment -%}
{% assign color = page.color | default: site.color %}
{% assign tagList = "" | split: "" %}
{% for item in site.tags %}
  {% assign tagName = item[0] %}
  {% assign tagList = tagList | push: tagName %}
{% endfor %}
{% assign tagList = tagList | sort %}

<div class="min-h-screen py-16 flex flex-wrap justify-center items-center content-center select-none">
  <div class="w-full py-8 font-serif text-4xl text-{{ color }}-50 text-center">{{ site.tagtitle | default: "TAGS" }}</div>

  {% for tagName in tagList %}
    {% assign tagCount = site.tags[tagName].size %}
    <div class="m-1 px-2 bg-{{ color }}-50 bg-opacity-75 rounded">
      {% include item-tag.html name=tagName count=tagCount %}
    </div>
  {% endfor %}
</div>
{%- endcomment -%}
